  .header {
    padding: 50px 0;
    text-align: center;
  }

  .header h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  .header p {
    font-size: 1.2rem;
  }

  .btn-primary {
    background-color: #6c63ff;
    border-color: #6c63ff;
  }

  .navbar {
    padding: 1rem;
  }

  .navbar-nav .nav-link {
    color: #fff !important;
  }

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    object-fit: cover;
}

.card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}


.card img {
    max-height: 500px;
    object-fit: cover;
}

#deck {
    min-height: 300px;
    border: 1px solid #ddd;
    padding: 10px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
